<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stroke Prediction Form</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #e6f7ff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            background-color: #ffffff;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            width: 100%;
            border: 1px solid #cceeff;
        }
        .container h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #333333;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #666666;
        }
        .form-group input {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #cceeff;
            border-radius: 8px;
            transition: border-color 0.3s;
        }
        .form-group input:focus {
            border-color: #66afe9;
            outline: none;
        }
        .form-group button {
            width: 100%;
            padding: 12px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .form-group button:hover {
            background-color: #218838;
        }
        .result {
            margin-top: 20px;
            text-align: center;
            font-weight: bold;
            color: #333333;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Stroke Prediction Form</h1>
        <form action="/predict" method="POST">
            <div class="form-group">
                <label for="age">Age</label>
                <input type="text" id="age" name="age" required>
            </div>
            <div class="form-group">
                <label for="avg_glucose_level">Average Glucose Level</label>
                <input type="text" id="avg_glucose_level" name="avg_glucose_level" required>
            </div>
            <div class="form-group">
                <label for="bmi">BMI</label>
                <input type="text" id="bmi" name="bmi" required>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <input type="text" id="gender" name="gender" required>
            </div>
            <div class="form-group">
                <label for="ever_married">Ever Married</label>
                <input type="text" id="ever_married" name="ever_married" required>
            </div>
            <div class="form-group">
                <label for="work_type">Work Type</label>
                <input type="text" id="work_type" name="work_type" required>
            </div>
            <div class="form-group">
                <label for="residence_type">Residence Type</label>
                <input type="text" id="residence_type" name="residence_type" required>
            </div>
            <div class="form-group">
                <label for="smoking_status">Smoking Status</label>
                <input type="text" id="smoking_status" name="smoking_status" required>
            </div>
            <div class="form-group">
                <button type="submit">Predict Stroke</button>
            </div>
        </form>
        {% if prediction is not none %}
        <div class="result">
            <p>Predicted Stroke: {{ prediction }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>